/******************************************************************
Theme Name: August 08
Theme URI: 
Description: 
Author: Halo Media
Author URI: http://halopowered.com
Version: 2.0 (Development)
License: GNU General Public License & MIT
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: Sass
******************************************************************/
@font-face {
    font-family: 'microgramma_d_otMdEx';
    src: url('assets/fonts/microgramma-webfont.woff2') format('woff2'),
         url('assets/fonts/microgramma-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'microgramma_bold';
    src: url('assets/fonts/microgramma-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/microgramma-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}
h1, h2, h3, h4, h5, h6, p, a, ul li, span, div, label, #pum_popup_title_133, input, input::placeholder, select, option, .ae-cform-input-country option, .ae-cform-optin span{
    font-family: 'microgramma_bold' !important;
    text-transform: uppercase;
    font-weight: bold;
}
html{
    height:100%;
    margin:0
} 
body{
    height:100%;
    position:relative;
}
/*
body.home{
    height:94%;
}
*/
main.class-internal{
    background: url('assets/images/bk-body-container.jpg') no-repeat center center;
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
main.class-bottom{
    background: url('assets/images/bk-body-bottom.jpg') no-repeat center top;
    background-color: #000000;
    display: flex;
    justify-content: end;
    flex-direction: column;
}
main.class-home{
    background: url('assets/images/bk-body-banner-new.jpg') no-repeat center center !important;
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    z-index:-1;
}
main.class-home{
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
main.class-internal{
    -webkit-background-size: 100% 100% !important;
    -moz-background-size: 100% 100% !important;
    -o-background-size: 100% 100% !important;
    background-size: 100% 100% !important;
}
main.class-home{
    height:100%;
}
main.class-internal{
    height:100%;
}
main.class-bottom{
    -webkit-background-size: 100% 100% !important;
    -moz-background-size: 100% 100% !important;
    -o-background-size: 100% 100% !important;
    background-size: 100% 100% !important;
    width:100%;
    height:25%;
}
.position-relative{
    position:relative;
}
.position-absolute{
    position: absolute;
}
.margin-top-sm{
    margin-top:10px;
}
.margin-top-md{
    margin-top:20px;
}
.margin-top-lg{
    margin-top:40px;
}
.margin-bottom-sm{
    margin-bottom:10px;
}
.margin-bottom-md{
    margin-bottom:20px;
}
.margin-bottom-lg{
    margin-bottom:40px;
}
.padding-top-sm{
    padding-top:10px;
}
.padding-top-md{
    padding-top:20px;
}
.padding-top-lg{
    padding-top:40px;
}
.padding-bottom-sm{
    padding-bottom:10px;
}
.padding-bottom-md{
    padding-bottom:20px;
}
.padding-bottom-lg{
    padding-bottom:40px;
}
.font-white{
    color:#ffffff;
}
/*body.error404, body.search-results, body.search-no-results{
    height:auto !important;
}*/
/*
body.error404 main.class-internal .main-404 .grid-container .grid-x.error404{
    min-height: 75vh !important;
}*/
.search-submit{
    background-color: transparent;
}
.article-header h2 a{
    color:#000000;
}
.list article{
    padding-bottom:20px;
}
body.error404 main.class-internal, body.search-results main.class-internal, body.search-no-results main.class-internal{
    justify-content: center;
}
/*
============================= HEADER ===============================
*/
.main-header{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index: 7;
}
.main-header .grid-container,
.main-header .grid-container .grid-x,
.main-header .grid-container .grid-x .cell{
    height:100%;
}

.main-header, .top-bar, .top-bar ul{
    background-color: transparent !important;
}
#main-nav li a{
    color:#ffffff;
    font-size: 12px;
    font-weight: bold;
}
.menu .active>a{
    background: transparent;
}
span.menu-image-hover-wrapper{
    min-height: 46px;
    align-items: flex-end;
    display: flex !important;
    /*align-items: center;*/
    justify-content: center;
}
#mega-menu-main-nav > li {
    width:20%;
}
#mega-menu-main-nav > li.mega-title-web > a{
    font-size: 25px !important;
    font-weight: bold;
    border: 3px solid #ffffff !important;
    border-radius: 25px !important; 
    padding: 0 5px !important;
    height:auto !important;
}
.menu-image-hover-wrapper img.hovered-image, .menu-item:hover .menu-image-hover-wrapper img.menu-image{
    transition: none !important;
}
#mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-item{
    margin:0 4% !important;
}
#mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-item > a.mega-menu-link{
    height:67px !important;
}
#mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-item:nth-child(1) > a.mega-menu-link{
    height:39px !important;
}
#mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-item:nth-child(4) > a.mega-menu-link{
    height:39px !important;
}
.mega-music a::before,
.mega-videos a::before,
.mega-merch a::before,
.mega-text-email a::before {
    content: "" !important;
    display: block !important;
    margin: 0 auto !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
    background-position: center !important;
    width: 50px !important;
    height: 40px !important;
}
.mega-music a,
.mega-videos a,
.mega-merch a,
.mega-text-email a{
    transition: ease-in-out 0.2s !important;
}
.mega-music a:hover,
.mega-videos a:hover,
.mega-merch a:hover,
.mega-text-email a:hover{
    transform: translate(0, 5px) !important;
    transition: ease-in 0.2s !important;
}
.mega-music a::before{
    background-image: url('assets/images/music-img.png') !important;   
}
.mega-videos a::before{
    background-image: url('assets/images/video-img.png') !important;   
}
.mega-merch a::before{
    background-image: url('assets/images/merch-img.png') !important;   
}
.mega-text-email a::before{
    background-image: url('assets/images/text-email-img.png') !important;   
}
.mega-menu-main-nav-mobile-open{
    overflow: hidden;
}
.home-url-mobile a:hover, .home-url-mobile a:focus{
    color:#ffffff;
}
.home-carousel .prev,
.release .prev,
.video-carousel .prev,
.home-carousel .prev:hover,
.release .prev:hover,
.video-carousel .prev:hover,
.home-carousel .next,
.release .next,
.video-carousel .next,
.next:hover,
.release .next:hover,
.video-carousel .next:hover{
    display: block;
    height: 30px;
    width: 20px;
    background-size: 20px 30px !important;
    z-index:6;
}
.home-carousel .prev,
.release .prev,
.video-carousel .prev{
    background: url('assets/images/left-arrow.png') no-repeat;
  }

.home-carousel .prev:hover,
.release .prev:hover,
.video-carousel .prev:hover{
    background: url('assets/images/left-arrow-black.png') no-repeat;
  }

  .home-carousel .next,
  .release .next,
  .video-carousel .next{
    background: url('assets/images/right-arrow.png') no-repeat;
  }
  .next:hover,
  .release .next:hover,
  .video-carousel .next:hover{
    background: url('assets/images/right-arrow-black.png') no-repeat;
  }
  .home-carousel .prev::before, .home-carousel .next::before,
  .release .prev::before, .release .next::before,
  .product-carousel-arrows .prev::before, .product-carousel-arrows .next::before,
  .product-carousel-mobile .prev::before, .product-carousel-mobile .next::before,
  .video-carousel .prev::before, .video-carousel .next::before,
  .product-carousel-arrows-mobile .prev::before, .product-carousel-arrows-mobile .next::before{
      
      content:"" !important;
  }
/*
  ================================ HOME =================================
*/
.section-home, .section-home .grid-container{
    height:100%;
}
.class-home .cell, .class-home .parent-home, .class-home .tv-bk{
    height:100%;
}
.button-video, .button-video:hover{
    width:100%;
}
.tv1, .thumb-video1, .button1{
    transform: translate(-50%, -50%);
}
.tv1{
    top: 50%;
    left: 50%;
    align-self: flex-end; 
    z-index:2;
}
.thumb-video1{
    top: 40%;
    left: 50%;
    max-width: 100% !important; 
    z-index:1;
}
.button1{
    top: 36%;
    left: 43%;
    max-width: 100% !important; 
    z-index:3;
}
.type-video{
    min-height:68px;
}
.play-video .button-video, .play-video .button-video:hover,
.play-video-carousel .button-video, .play-video-carousel .button-video:hover{
    position:absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display: block;
    height: 68px;
    width: 68px;
    background: url('assets/images/play-button.png') no-repeat;
  }

  /*
  ================================ PAGE MUSIC =================================
  */
.section-music, .section-music .grid-container{
      height:100%;
}
.section-music .grid-container .cell{
      align-self: flex-end;
}
.disc-image{
    top: 50%;
    left: 48.5%;
    transform: translate(-50%, -50%);
    width:60% !important;
}
.release .slick-track{
      left: 3% !important;
}
.release img {
    width:47% !important;
    margin: 0 auto;
}
.release-caption{
    padding-bottom:2%;
}
.release-title, .video-title{
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}
.center{
    text-align: center;  
}
.button-release, .button-caption-video, .search-submit{
    text-align: center;
    border: 3px solid #000000 !important;
    border-radius: 25px !important; 
    padding: 2px 8px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;  
    color: #000000;
}
.button-release:hover, .button-caption-video:hover,
.button-release:focus, .button-caption-video:focus,
.search-submit:focus, .search-submit:hover{
    background-color: #000000;
    border: 3px solid #000000 !important;
    border-radius: 25px !important;  
    color: #ffffff;
}
.release .slick-prev{
    left:10%;
}
.release .slick-next{
    right:10%;
}
.download{
    min-height:30px;
}
/*
================================ PAGE VIDEO =================================
*/
.section-videos, .section-videos .grid-container{
    height:100%;
}
.section-videos .grid-container .cell{
    align-self: flex-end;
}
.tv-video {
    bottom: 0 !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
    width: 50% !important;
    z-index: 2 !important;
}
.video-carousel .slick-list {
    z-index: 1;
    left: 50% !important;
    transform: translate(-50%, -30%) !important;
}
.videos.play-video-carousel .slick-list{
	bottom:65%;
    position: absolute;
    height: 150px;
    width: 150px;
    z-index:3;
	left: 48% !important;
    transform: translate(-50%, -75%) !important;
}
.video-carousel .thumb-video {
	max-width: 35% !important;
    margin: 0 auto !important;
}
.video-carousel .slick-track{
    left: -40px !important;
}
.video-carousel .slick-prev{
    top:25%;
    left:20%;
}
.video-carousel .slick-next{
    top:25%;
    right:20%;
}
.play-video-caption{
    padding-bottom:3%;
}
/*
================================ PAGE MERCH =================================
*/
.section-merch, .section-merch .grid-container{
    height:100%;
}
.section-merch .grid-container .cell{
    align-self: center;
}
.product-carousel img{
    width: auto;
    margin: 0 auto; /* it centers any block level element */
}
.product-carousel-arrows .prev,
.product-carousel-arrows .next,
.product-carousel-arrows .prev:hover,
.product-carousel-arrows .next:hover{
    height: 40px;
    width: 30px;
    background-size: 20px 30px !important;
    -ms-transform: rotate(90deg); /* IE 9 */
    transform: rotate(90deg);
}

.product-carousel-arrows .prev{
    background: url('assets/images/left-arrow-black.png') no-repeat;
}
.product-carousel-arrows .next{
    background: url('assets/images/right-arrow-black.png') no-repeat;
}
.product-carousel-arrows .prev:hover{
    background: url('assets/images/left-arrow.png') no-repeat;
}
.product-carousel-arrows .next:hover{
    background: url('assets/images/right-arrow.png') no-repeat;
}
.product-carousel-arrows .slick-prev{
	top:auto !important;
	bottom:10%;
    left: 47%;
    /* top: -25px; */
	transform: rotate(90deg) translate(-50%, -50%) !important;
}
.product-carousel-arrows .slick-next {
	top:auto !important;
	bottom:10%;
    right: 47%;
    /* top: -25px; */
	transform: rotate(90deg) translate(-50%, -50%) !important;
}
.product-carousel-arrows{
	height:100%;
}
.product-title{
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
  }
  .center{
    text-align: center;  
  }
  .button-product{
    text-align: center;
    border: 3px solid #ffffff !important;
    border-radius: 25px !important; 
    padding: 2px 5px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  .button-product:hover{
    border: 3px solid #ffffff !important;
    border-radius: 25px !important;
    background-color: #ffffff; 
    color: #000000;
  }
  /*
  .slick-list{
      max-height: 450px !important;
  }
  .slick-vertical .slick-slide{
      width:300px !important;
  }
  .product {
    width:300px !important;
  }*/
  /*
 ============================== SOCIAL =================================
  */
  .header-side {
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 50;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.header-side.social-side {
    right: 10px;
}
.header-side.social-side .menu {
    -ms-flex-direction: column;
    flex-direction: column;
    background: #000000;
    border-radius: 17.5px;
    padding:5px 0;
}


.footer-side {
    width: 100%;
    position: fixed;
    bottom: 5%;
    z-index: 9999999;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}
.footer-side.social-side {
    right: 10px;
}
.footer-side.social-side .menu {
    background: #000000;
    border-radius: 30px;
    padding:5px 0;
}
.footer-side.social-side #social-links{
    width: 45%;
    margin: auto;
    justify-content: center;
    display: flex;
}

.social-side .menu li {
    padding: 10px 8px;
    text-align: center;
}
.social-side .menu li a{
    color:#ffffff;
}
.social-side .menu li a:hover{
    color:#a5a5a5;
}
#social-links .menu-item a{
    padding:0;font-size:0;line-height:0
}
#social-links .menu-item a:before{
    font-size:1.125rem;font-family:"Font Awesome 5 Brands";line-height:1
}
#social-links .menu-item a[href*="apple.com"]:before,
#social-links .menu-item a[title*="Apple Music"]:before{
    content:"\f3b5"
}
#social-links .menu-item a[href*="facebook.com"]:before,
#social-links .menu-item a[title*=Facebook]:before{
    content:"\f09a"
}
#social-links .menu-item a[href*="instagram.com"]:before,
#social-links .menu-item a[title*=Instagram]:before{
    content:"\f16d"
}
#social-links .menu-item a[href*="spotify.com"]:before,
#social-links .menu-item a[title*=Spotify]:before{
    content:"\f1bc"
}
#social-links .menu-item a[href*="twitter.com"]:before,
#social-links .menu-item a[title*=Twitter]:before{
    content:"\f099"
}
#social-links .menu-item a[href*="vine.com"]:before,
#social-links .menu-item a[title*=Vine]:before{
    content:"\f1ca"
}
#social-links .menu-item a[href*="youtube.com"]:before,
#social-links .menu-item a[title*=YouTube]:before{
    content:"\f167"
}
#social-links .menu-item a[href*="tumblr.com"]:before,
#social-links .menu-item a[title*=Tumblr]:before{
    content:"\f173"
}
#social-links .menu-item a[href*="#mailing-list"]:before{
    font-family:"Font Awesome 5 Free";content:"\f0e0"
}
#social-links .menu-item a[title*=Merch]:before,
#social-links .menu-item a[title*=Shop]:before{
    font-weight:900;font-family:"Font Awesome 5 Free";content:"\f07a"
}

/*
POPUP
*/
#ae-cform-container-1{
    position: absolute;
    z-index: -1;
    padding: 0 !important;
    top:0;
}
.ae-cform-modal-container, .ae-cform-container {
    padding:10px;
}
#ae-cform-email-reg-1{
    display: flex !important;
    flex-flow: row wrap !important;
}
#ae-cform-reg-item-email-1{
    width:100%;
}
.ae-cform-item{
    padding:10px;
}
.ae-cform-item label {
    display:none !important;
    position: relative;
}
.ae-cform-input::placeholder{
    font-size:16px !important;
} 
/*
.ae-cform-item label:after {
    content: 'Enter your number';
    position: absolute;
    left: 5px;
    top: 0;
    color: #bbb;
  }
  */
.pum-theme-124, .pum-theme-default-theme{
    background-color: transparent;
}
.ae-cform-modal-container{
    background-image: url('assets/images/subscribe-bk.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    z-index:5;
}
.ae-cform-title{
    text-align: center;
    font-size:37px;
    color:#ffffff;
    font-weight: bolder;
    padding-bottom:30px;
}
.ae-cform-title hr{
    display:none;
}
input.ae-cform-input{
    height:45px !important
}
/*
.pum-close.popmake-close{
    background-color: transparent !important;
    font-size: 36px !important;
    border: none !important; 
    border-radius: 0px !important; 
    box-shadow: none !important;
    text-shadow: none !important;
}*/
.ae-cform-input{
    background-color: transparent !important;
    border-radius:25px !important;
    border: 2px solid #ffffff !important;
    color:#ffffff !important;
}
.ae-cform-input::placeholder{
    color:#ffffff !important;
    text-transform: uppercase !important;
}
.ae-cform-item .ae-cform-select .select__arrow,
.iti__arrow{
    border-color: #ffffff transparent transparent transparent !important;
}
.iti__arrow{
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #ffffff;
}
.iti input[type=tel]{
    max-width:100% !important;
}
.iti--separate-dial-code .iti__selected-dial-code, .ae-cform-item span.iti__country-name, .ae-cform-item span.iti__dial-code{
    color:#ffffff !important;
}
/*
.ae-cform-input-country{
	color: #ffffff !important;
	background-image: url("assets/images/arrow-select.png") !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
    background-size: 16px 12px !important;
}*/
.ae-cform-input-country option,
.ae-cform-optin span {
    color:#ffffff !important;
    text-transform: uppercase !important;
}
.ae-optin-holder{
    text-align:center !important;
}
.ae-cform-input-country:focus, .ae-cform-input:focus{
    background-color: transparent !important;
    border:1px solid #ffffff !important;
    -webkit-box-shadow: 0 0 5px #ffffff !important;
    box-shadow: 0 0 5px #ffffff !important;
    -webkit-transition: border-color .25s ease-in-out,-webkit-box-shadow .5s !important;
    transition: border-color .25s ease-in-out,-webkit-box-shadow .5s !important;
    transition: box-shadow .5s,border-color .25s ease-in-out !important;
    transition: box-shadow .5s,border-color .25s ease-in-out,-webkit-box-shadow .5s !important;
}
.iti--separate-dial-code input, .iti--separate-dial-code input[type=tel]{
    padding-left:90px !important;
}
.ae-cform-item-submit-button{
    text-align: center !important;
}
.ae-cform-item-submit-button input{
    text-align: center !important;
    background-color: transparent !important;
    border: 3px solid #ffffff !important;
    border-radius: 25px !important; 
    padding: 2px 8px !important;
    font-size: 15px !important;
    line-height: 18px !important;
    text-align: center !important;
    text-transform: uppercase !important;
    color: #ffffff !important;
    width:25% !important;
}
.ae-cform-optin label input[type=checkbox] {
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: 0;
    border: none;
    background-color: transparent;
    margin-right: 0;
    text-align: center;
    line-height: 1;
}
.ae-cform-optin label input[type=checkbox]::before{
    /*color:rgba(0,0,0,0) !important;*/
    color: transparent !important;
    border: 2px solid #ffffff;
    font-family:"Font Awesome 5 Free";
    content: "\f45c" !important;
    cursor:pointer;
}
.ae-cform-optin label input[type=checkbox]:checked:before{
    color:#ffffff !important;
    font-weight:900;
    font-family:"Font Awesome 5 Free";
    content: "\f00c" !important;
}
.cform-required-field.ae-cform-item{
    display:none;
}
.ae-optin-holder{
    display: flex !important;
    flex-flow: row wrap !important;
    line-height: 2em;
    justify-content: center;
}
.ae-optin-holder span{
    width:100%;
    color:#ffffff;
    font-size:14px !important;
}
#terms, #terms a, #sms-terms, #sms-terms a{
    font-size: 12px !important;
    line-height: 1.6em !important;
    text-align: center !important; 
    text-transform: uppercase !important;
    padding: 5px;
    color: #FFFFFF !important;
}
.ae-cform-item-submit-button{
    padding-top: 20px;
}
.ae-cform-item.ae-cform-item-submit-button input[type="submit"]{
    background-image: -webkit-linear-gradient(top,#4d91fe00,#4787ed00) !important;
}
.ae-cform-item.ae-cform-item-submit-button input[type="submit"]:hover{
    background-image: -webkit-linear-gradient(top,#000000,#000000) !important;
}
.ae-cform-item-submit-button{
    width:100%;
}
/*========================= SEARCH RESULT AND 404 ====================================*/

.main-search .archive-title, .content-not-found .article-header h2{
    padding-top:30px;
}
/*
FOOTER
*/
footer.footer{
    background-color: #000000;
    padding:15px 0;
    /*position:absolute;
    bottom:0;
    width:100%;
    height:60px;*/
}
#footer-links > li > a{
    color:#ffffff;
    font-size:12px;
}
/*
====================== MEDIA QUERIES =======================
*/
/* ======================== GENERAL WIDTH =======================*/
@media (min-width: 1024px) {
    main.class-section-videos{
        height:100% !important;
    }
    .article-header h2 a{
        font-size: 36px !important;
    }
    .tv1{
		width:65%;
        /*height: 100%;*/
	}
	.thumb-video1{
		width:43%;
	}
	.tv1{
		top:auto;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}
	.thumb-video1{
		top:auto;
		bottom: 196px;
		left: 46%;
		transform: translate(-50%, 0);
	}
	.button1{
		position:absolute;
		top:auto !important;
		bottom: 360px;
		left: 46%;
		transform: translate(-50%, 0);
	}
    .class-bottom.min-height{
        min-height:220px;
    }
    .ae-cform-modal-container, .ae-cform-container {
        max-width:85% !important;
        padding:30px !important;
    }
    .ae-cform-item.ae-cform-item-mobilephone,
    .ae-cform-item.ae-cform-item-country{
        width:50%;
    }
    .main-search{
        min-height: 60vh;
    }
    .ae-cform-optin{
        min-width:20% !important;
    }
    #ac-cform-optin-1-1, #ac-cform-optin-1-2{
        min-width:15% !important;
    }
    #footer-links {
        display:table;
        width:100%;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
    }
    #footer-links > li {
        display:table-cell;
    }
}
@media (min-width: 768px) {
    .title-web{
        display:block;
    }
    .title-web-mobile{
        display:none !important;
    }
    .hide-desktop{
        display:none;
    }
}
@media (width: 768px) {
    #mega-menu-main-nav{
        padding-top:30px !important;
    }
    .title-web-mobile{
        display:block !important;
    }
}
@media (max-width: 768px){
    html{
        height:100%;
    }
    body{
        height:100%;
        position:relative;
    }
    body.home{
        height:100%;
    }
    .mega-music a::before, .mega-videos a::before, .mega-merch a::before, .mega-text-email a::before{
        margin:0 !important;
        display: inline-block !important;
        height:80px !important;
    }
    #mega-menu-main-nav > li.mega-title-web-mobile{
        text-align: center !important;
    }
    #mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-item:nth-child(2){
        margin:50% 0 0 0 !important;
    }
    #mega-menu-main-nav > li.mega-title-web-mobile > a{
        display:inline !important;
        line-height:0 !important;
    }
    #mega-menu-main-nav > li.mega-title-web-mobile > a,
    .mega-title-web-mobile-outside{
        font-size: 20px !important;
        font-weight: bold;
        border: 3px solid #ffffff !important;
        border-radius: 25px !important; 
        padding: 0 5px !important;
    }
    #mega-menu-main-nav{
        height: 100vh !important;
    }
    .title-web{
        display:none !important;
    }
    .title-web-mobile{
        display:block;
    }
    .mega-menu-link{
        text-align:center !important;
    }
    .mega-menu-open{
        background-color: #000000 !important;
    }
    #mega-menu-wrap-main-nav .mega-menu-toggle {
        z-index: 7;
        position: absolute;
    }
    #mega-menu-wrap-main-nav .mega-menu-toggle + #mega-menu-main-nav{
        z-index:6;
    }
    .class-bottom.min-height{
        min-height:120px;
    }
}
@media (max-width: 428px) {
    main.class-home{
        background: url('assets/images/bk-home-mobile.jpg') no-repeat center center !important;
    }
    main.class-internal{
        background: url('assets/images/bk-body-container-mobile.png') no-repeat center center;
    }
    main.class-bottom{
        background: url('assets/images/bk-body-bottom-mobile.png') no-repeat top center;
    }
    main.class-internal{
        height:70%;
    }
    main.class-bottom{
        height:30%;
    }
    #mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-item > a.mega-menu-link{
        font-size:19px;
    }
    #mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-item:nth-child(2){
        margin: 30% 0 0 0 !important;
    }
    .footer-side.social-side #social-links {
        width:60%;
    }
    #mega-menu-main-nav{
        /*height: 100vh !important;*/
        height: calc(100vh + 167px) !important;
        padding-top:30px !important;
    }
    .content-not-found .article-header, h1.archive-title{
        padding-top:50px;
    }
    .class-bottom.min-height{
        min-height:120px;
    }
    /*========HOME===========*/
    .thumb-video1{
		top:45%;
		width:75%;
	}
	.button1{
		top: 45%;
		left: 45%;
	}
    main.class-bottom {
        justify-content: flex-start;
        padding-top: 30px;
    }
    /*========MUSIC===========*/
    .disc-image{
        left: 47%;
        width:75% !important;
    }
    .release img {
        width: 59% !important;
        margin: 0 auto;
    }
    .release-caption{
        padding-top:30px;
    }
    .release .slick-prev,
    .video-carousel .slick-prev,
    .product-carousel-mobile .slick-prev{
        top:165%;
        left:40%;
        z-index:5;
    }
    .release .slick-next,
    .video-carousel .slick-next{
        top:165%;
        right:40%;
        z-index:5;
    }
    /*========VIDEOS===========*/
    .tv-video{
        width:75% !important;
    }
    .release-title, .video-title, .product-title{
        font-size:18px;
    }
    .video-carousel .thumb-video{
        max-width:49% !important;
    }
    .video-carousel .slick-track{
        left:-32px !important;
    }
    .videos.play-video-carousel .slick-list{
        bottom:auto !important;
        transform: translate(-40%, -100%) !important;
    }
   
    .button-release, .button-caption-video, .button-product{
        font-size:12px;
    }
    .play-video-caption{
        margin:0;
    }
    .play-video-caption {
        padding-top: 30px;
    }
    .video-carousel .slick-prev{
        top:200%;
        left:40%;
        z-index:5;
    }
    .video-carousel .slick-next{
        top:200%;
        right:40%;
        z-index:5;
    }
    .section-videos .grid-container .cell{
        align-self: flex-end;
    }
    /*========MERCH===========*/
    .section-merch .grid-container .cell {
        align-self: flex-end;
    }
    .product-carousel-arrows-mobile .prev, .product-carousel-arrows-mobile .prev:hover{
        display: block;
        height: 30px;
        width: 20px;
        background: url('assets/images/left-arrow.png') no-repeat;
        z-index:5000;
    }
    .product-carousel-arrows-mobile .next, .product-carousel-arrows-mobile .next:hover{
        display: block;
        height: 30px;
        width: 20px;
        background: url('assets/images/right-arrow.png') no-repeat;
    }
    .product-title, .button-product{
        color:#000000;
    }
    .button-product{
        border:3px solid #000000 !important;
    }
    .merch-description{
        min-height: 60px;
    }
    .product-caption-mobile{
        padding-top:30px;
    }
    .product-carousel-arrows-mobile .slick-prev{
        top:93%;
        left:40%;
        z-index:5;
    }
    .product-carousel-arrows-mobile .slick-next{
        top:93%;
        right:40%;
        z-index:5;
    }
    .product-tag{
        padding-top:70px;
    }
    img.product{
        /*width:5% !important;*/
        margin: 0 auto;
    }
    .ae-cform-modal-container{
        background-image: url('assets/images/bk-subscribe-mobile.png');
        background-position: center;
        z-index:5;
        border: 2px solid #ffffff !important;
        border-radius:10px !important;
    }
    .ae-cform-item-submit-button input{
        width:50% !important;
    }
    .ae-cform-item{
        padding:0 !important;
    }
    /*============ FOOTER ==================*/
    .footer-side {
        position: absolute;
        bottom: 5%;
    }
    #footer-links li{
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 375px) {
    .section-home, .section-home .grid-container,
    .section-music, .section-music .grid-container,
    .section-videos, .section-videos .grid-container,
    .section-merch, .section-merch .grid-container{
        height:95%;
    }
    .tv-video {
        transform: translate(-50%, 10%) !important;
    }
    .video-carousel .slick-list{
        transform: translate(-50%, 10%) !important;
    }
    .videos.play-video-carousel .slick-list{
        transform: translate(-40%, -80%) !important;
    }
}
/* ======================== MENU =======================*/
@media (max-width: 1024px) and (min-width: 960px) {
    #mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-item{
        margin:0 3% !important;
    }
  }
  @media (max-width: 959px) and (min-width: 768px) {
    #mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-item{
        margin:0 1% !important;
    }
  }
  @media (max-width: 768px) and (min-width: 640px) {
    .home-url-mobile{
        text-align: center !important;
        padding-left: 35%;
    }
    #mega-menu-wrap-main-nav #mega-menu-main-nav > li.mega-menu-item:nth-child(2){
        margin: 25% 0 0 0 !important;
    }
    .videos.play-video-carousel .slick-list {
        top:-10em;
    }
  }
  @media (max-width: 1024px) and (min-width: 768px) {
    .thumb-video1 {
        /*top: 17% !important;*/
        left: 47%;
        max-width: 65% !important;
        z-index: 1;
    }
    .release-caption {
        padding-top: 15%;
        padding-bottom: 7%;
    }
    .play-video-caption {
        padding-top: 15%;
        padding-bottom: 10%;
    }
    .videos.play-video-carousel .slick-list {
        transform: translate(-45%, -30%) !important;
    }
    .section-home .grid-container .cell{
        align-self: center;
    }
    .product-carousel-arrows .slick-prev{
        left:45%;
    }
    .product-carousel-arrows .slick-next{
        right:45%;
    }
    .ae-cform-optin{
        min-width:100% !important;
    }
    .ae-cform-optin:nth-child(1){
        min-width:100% !important;
    }
  }

  /* ======================== GENERAL HEIGHT =======================*/
  @media (max-height: 767px) and (min-width: 1024px) {
    .section-home .grid-container .cell{
        align-self: center;
    }
    .tv{
        top: 50%;
    }
    .home-carousel .slick-list{
        top:-5em;
    }
    .home.play-video .slick-list {
        top:-17em;
    }
  }
  /* ======================== SOCIAL =======================*/

 /*======================= HOME ==========================*/
 
 @media (min-width: 1024px) and (min-height: 900px) {
     body.page-id-141{
         height:90%;
     }
    .tv1{
		width:85%;
        /*height: 100%;*/
	}
	.thumb-video1{
		width:52%;
        bottom:276px;
        left:44%;
	}
    .button1{
        bottom: 450px;
        left: 43%;
    }
    .release-caption {
        padding-bottom: 2.5%;
    }
    .tv-video {
        width:70% !important;
    }
    .videos.play-video-carousel .slick-list{
        transform: translate(-50%, -150%) !important;
        left: 45%;
    }
    .video-carousel .thumb-video {
        max-width:48% !important;
    }
    .video-carousel .slick-list {
        left:46% !important;
    }
    .video-carousel .slick-prev {
        left:5%;
    }
    .video-carousel .slick-next {
        right:5%;
    }
    .main-search{
        min-height: 65vh;
    }
 }