.home {
    .off-canvas-content {
		&:before {
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, $black 0%, #1C1C1C 100%), linear-gradient(0deg, $black, $black);
			position: fixed;
			top: 0;
			left: 0;
			z-index: -1;
			content: '';
		}

        .top-bar ul.menu-primary li a {
            opacity: 1;
        }
    }

    .top-bar {
        &-left {
            .logo {
                @include breakpoint(small down) {
                    display: none;

                    &.show {
                        display: block;
                    }
                }
            }
        }
    }
}

.main-home {
    padding-top: 0;

    .section {
        padding-top: 150px;
        text-transform: uppercase;

        &.show {
            .section {
                &-header {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
        .grid-container {
            @include cbp(ipadp_l) {
                padding: 0 80px;
            }
            @include cbp(tablet) {
                padding: 0 80px;
            }
        }

        // general
        &-header {
            &:before {
                width: 0;
                transition: all .5s ease-in;
            }
        }
        &-footer {
            padding: 60px 0 40px;
            text-align: right;

            @include cbp(mobile) {
                padding-left: 30px;
                padding-right: 30px;
            }

            a {
                padding: 5px 0;
                font-weight: 800;
                position: relative;

                &:before,
                &:after {
                    width: 65%;
                    height: 1px;
                    background: $white;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    content: '';
                }
                &:before {
                    height: 100%;
                    top: 0;
                    opacity: 0;
                }
                &:after {
                    transition: all .3s;
                }

                &:hover {
                    &:before {
                        opacity: 1;
                        animation: coverUp 0.3s ease forwards;
                    }
                    &:after {
                        opacity: 0;
                    }
                }
            }
        }

        .article {
            text-transform: uppercase;
            &-header {
                @include breakpoint(small down) {
                    text-align: center;
                }
                h3 {
                    font-size: rem-calc(22);
                    line-height: 1.2;
                    letter-spacing: 0.1em;

                    @include breakpoint(small down) {
                        font-size: rem-calc(18);
                    }
                }
            }
            &-footer {
                @include breakpoint(small down) {
                    text-align: center;
                }
            }
        }


        &-banner {
            .slick {
                &-slider {
                    margin-bottom: 0;
                }

                &-prev {
                    right: 240px;
                    bottom: 10px;
                }
                &-next {
                    right: 150px;
                }

                &-dots {
                    bottom: 20px;

                    @include breakpoint(small down) {
                        bottom: 10px;
                    }
                }
            }

            .banner {
                &-list {
                    &.is-sliding {
                        .banner-item {
                            &_figure {
                                transform: scale(0.8);
                                transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                            }
                            &_image {
                                filter: grayscale(100%);
                            }
                        }
                    }

                }
                &-item {
                    position: relative;

                    &.slick-active {
                        .banner-item {
                            &_image {
                                height: 100%;
                                opacity: 1;
                                transition: height 0.5s 0.3s cubic-bezier(0.77, 0, 0.175, 1), filter 0.4s 0.1s ease, -webkit-filter 0.4s 0.1s ease;
                            }
                        }
                    }
                    .grid-container {
                        width: 100%;
                        padding-top: 40px;
                        padding-right: 80px;
                        padding-bottom: 40px;
                        display: flex;
                        flex-direction: column;

                        @include breakpoint(small down) {
                            padding-right: .625rem;
                            text-align: center !important;
                            justify-content: flex-end !important;
                            align-items: center !important;
                        }

                        &.vert {
                            &-vt {
                                justify-content: flex-start;
                            }
                            &-vc {
                                justify-content: center;
                            }
                            &-vb {
                                justify-content: flex-end;
                            }
                        }
                        &.hori {
                            &-hl {
                                align-items: flex-start;
                            }
                            &-hc {
                                align-items: center;
                                text-align: center;
                            }
                            &-hr {
                                align-items: flex-end;
                                text-align: right;
                            }
                        }
                    }

                    &_content {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 5;
                        display: flex;

                        .content {
                            width: 50%;
                            @include breakpoint(small down) {
                                width: 100%;
                            }
                        }

                        h3 {
                            margin-bottom: 0;
                            color: $orange;
                            font-weight: 800;
                            font-size: rem-calc(32);
                            line-height: 1;
                            text-transform: lowercase;

                            @include breakpoint(portrait) {
                                font-size: rem-calc(20);
                            }
                            @include cbp(ipx_l) {
                                font-size: rem-calc(20);
                            }
                            @include breakpoint(small down) {
                                font-size: rem-calc(20);
                            }
                        }
                        h2 {
                            color: $white;
                            font-size: rem-calc(75);
                            line-height: 1;
                            overflow: hidden;

                            @include cbp(ipx_l) {
                                font-size: rem-calc(34);
                            }
                            @include breakpoint(small down) {
                                font-size: rem-calc(34);
                            }

                            span {
                                display: inline-block;
                                vertical-align: middle;
                                transform: translateY(210%);
                                opacity: 0;
                                transition: all .3s ease;
                            }
                        }
                        .cta {
                            padding-top: 1rem;
                            @include breakpoint(small down) {
                                padding-bottom: 20px;
                            }
                        }
                    }
                    &_figure {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);

                        &:before {
                            width: 100%;
                            height: 100%;
                            background: rgba($color: $black, $alpha: 0.6);
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 3;
                            content: '';
                        }
                    }
                    &_image {
                        width: 100%;
                        height: 0%;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        filter: grayscale(0%);
                        transition: height 1s 1.4s cubic-bezier(0.19, 1, 0.22, 1), filter 0.4s 0.1s ease, -webkit-filter 0.4s 0.1s ease;
                    }
                }
            }
        } // banner

        &-releases {
            padding-bottom: 150px;
            position: relative;

            > * {
                position: relative;
                z-index: 10;
            }

            &.show {
                .slick-current {

                    .cover {
                        .s {
                            @for $i from 1 to 6 {
                                &:nth-child(#{$i}) { 
                                    transform: translateY(-100%);
                                    transition-delay: $i * .15s; 
                                }
                            }
                        }
                    }

                    .article {
                        &-header {
                            .subtitle {
                                opacity: 1;
                                transform: translateY(0);
                                transition-delay: .85s;
                            }
                            .cta {
                                opacity: 1;
                                transition-delay: 1.25s;
                            }
                        }
                    }
                }
            }

            .article {
                visibility: hidden;
                
                &.slick-slide,
                &:first-child {
                    visibility: visible;
                }
                @include breakpoint(small down) {
                    padding-bottom: 60px;
                }

                &-header {
                    padding-right: 80px;
                    transition: $slider-transition;

                    @include breakpoint(small down) {
                        padding-top: 20px;
                        padding-right: 0;
                    }
                    .subtitle {
                        opacity: 0;
                        transition: $slider-transition;
                        transform: translateY(50px);
                    }
                    h3 {
                        margin-bottom: 0;
                        font-weight: 900;
                        font-size: rem-calc(40);

                        @include breakpoint(small down) {
                            font-size: rem-calc(24);
                        }
                    }
                    .cta {
                        margin-top: 20px;
                        opacity: 0;
                        transition: $slider-transition;
                    }
                }

                .album {
                    position: relative;
                }
                .cover {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    z-index: 10;

                    .s {
                        width: 20%;
                        height: 100%;
                        background: $white;
                        transition: $slider-transition;
                    }
                }
            }

            .album-cover {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;

                &-list,
                .slick-list,
                .slick-track {
                    width: 100%;
                    height: 100%;
                }
                &-item {
                    height: 100%;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;

                    &:before {
                        width: 100%;
                        height: 100%;
                        background: rgba($color: $black, $alpha: 0.8);
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 0;
                    }
                }
            } // album-cover
        } // releases

        &-news {
            &.show {
                .news-item {
                    @for $i from 1 to 4 {
                        &:nth-child(#{$i}) { 
                            opacity: 1;
                            transition-delay: $i * .2s; 
                        }
                    }
                }
            }

            .news-item {
                opacity: 0;
                transition: $slider-transition;

                @include breakpoint(small down) {
                    margin-bottom: 40px;
                }
            }

            .article {
                &-thumb {
                    &.no-thumb {
                        &:before {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 1;
                            content: '';
                            border: 3px solid $white;
                        }
                    }
                }
                &-header {
                    padding-bottom: 16px;
                    letter-spacing: 0.1em;
                    .cat {
                        padding: 16px 0;
                        font-size: rem-calc(14);
                        display: block;
                    }
                    h3 {
                        color: rgba($color: $white, $alpha: 0.8);
                    }
                }
            }
        } // news

        &-videos {
            &.show {
                .slick {
                    &-current {
                        .article {
                            &-header {
                                .subtitle {
                                    opacity: 1;
                                    transform: translateY(0);
                                    transition-delay: 0.8s;
                                }
                            }
                            &-thumb {
                                .s {
                                    @for $i from 1 to 6 {
                                        &:nth-child(#{$i}) { 
                                            transform: translateY(-100%);
                                            transition-delay: $i * .15s; 
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .has-embed {
                margin-bottom: 30px;
                padding-bottom: 10px;

                > button {
                    bottom: -64px;

                    &.slick-prev {
                        right: 80px;
                    }
                    &.slick-next {
                        bottom: -92px;
                    }
                }
            }

            .video-list {
                @include cbp(mobile) {
                    padding-bottom: 100px;
                }
            }

            .article {
                &.playing {
                  .media-youtube-video {
                    iframe {
                        transform: scale(1);
                    }
                  }

                  .cell {
                      &-right {
                          display: none;
                      }
                      &-left {
                          width: 100%;
                      }
                  }
                }

                .cell {
                    &-right {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                    &-left {
                        transition: $slider-transition;
                    }
                }

                &-thumb {
                    overflow: hidden;
                    &_overlay {
                        i {
                            width: 0; 
                            height: 0; 
                            border-top: 10px solid transparent;
                            border-bottom: 10px solid transparent;
                            border-left: 13px solid $white;

                            display: inline-block;
                            vertical-align: bottom;
                        }

                        .button {
                            z-index: 15;
                            &:hover {
                                i {
                                    border-left-color: $medium-gray;
                                }
                            }
                        }
                    }
                    .thumb {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        z-index: 0;
                    }
                    .cover {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: flex;
                        z-index: 10;

                        .s {
                            width: 20%;
                            height: 100%;
                            background: $white;
                            transition: $slider-transition;
                        }
                    }
                }

                &-header {

                    .subtitle {
                        opacity: 0;
                        transform: translateY(50px);
                        transition: $slider-transition;
                    }

                    @include breakpoint(small down) {
                        padding: 0;
                    }
                    h3 {
                        margin-bottom: 0;
                        font-size: rem-calc(40);

                        @include breakpoint(small down) {
                            justify-content: center;
                        }

                        span {
                            opacity: 0;
                        }
                    }
                }

                .media-youtube-video {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 20;
                    iframe {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: scale(0);
                        transition: all 0.5s ease;
                        transition-delay: 2s;
                    }
                }
            }
        } // videos

        &-photos {
            #eapps-instagram-feed-1 {
                .eapps-instagram-feed {
                    &-posts {
                        &-item {
                            padding: 10px;
                            background: none;
        
                            a {
                                position: relative;
                            }
                        }


                        &-grid-load-more {
                            &-container {
                                text-align: center;
                            }
                            @extend .button.secondary;
                            width: auto;
                            height: auto;
                            padding-bottom: 0;
                            background: none;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        } // photos

        &-tour {
            &.show {
                .bit-widget {
                    .bit-event {
                        @for $i from 1 to 4 {
                            &:nth-child(#{$i}) { 
                                opacity: 1;
                                transition-delay: $i * .3s; 
                            }
                        }
                    }
                }
            }
            .bit {
                &-widget {
                    color: $white;
                    font-family: $font-base;

                    .bit {
                        &-nav-bar {
                            > * {
                                visibility: hidden;
                            }
                            .bit-logo-container {
                                visibility: visible;
                            }
                        }

                        &-upcoming-events, 
                        &-past-events {
                            border-bottom: 0;
                        }
                        &-event {
                            padding: 15px 0;
                            color: $white;
                            border-top: none;
                            opacity: 0;
                            transition: $slider-transition;
                            text-transform: uppercase;

                            &:hover {
                                padding: 15px 0;
                                background: none;
                            }

                            &-buttons {
                                margin-top: 0;

                                @include breakpoint(small down) {
                                    padding-top: 10px;
                                    flex-direction: row;
                                    justify-content: flex-start;
                                }

                                > div {
                                    padding: 0 10px;
                                    border-right: 2px solid $white;

                                    @include breakpoint(small down) {
                                        width: auto;
                                        margin-top: 0;
                                        flex-basis: auto;

                                        &:first-child {
                                            padding-left: 0;
                                        }
                                    }

                                    &:last-child {
                                        padding-right: 0;
                                        padding-left: 10px;
                                        border-right: 0;
                                        a {
                                            margin-left: 0;
                                        }
                                    }
                                }
                                .bit-button {
                                    width: auto;
                                    padding: 0;
                                    background: none;
                                    color: $white;
                                    font-size: rem-calc(12);
                                    font-weight: 800;
                                    line-height: 1;
                                    text-transform: uppercase;
                                    border: 0;

                                    &:hover {
                                        color: $dark-gray;
                                    }
                                }
                            }
                        }
                        &-titleWrapper {
                            margin: 0 auto;
                        }
                        &-date {
                            font-weight: 900;
                        }
                        &-venue {
                            font-weight: 900;
                            color: $white;
                            font-size: rem-calc(20);

                            &:hover {
                                color: $dark-gray;
                            }
                        }
                        &-location {
                            margin-right: auto;
                            font-size: rem-calc(14);
                            letter-spacing: 4px;
                            text-align: center;

                            @include breakpoint(small down) {
                                text-align: left;
                            }
                        }
                    }

                    .bit-upcoming-events-show-all-button {
                        display: none;
                    }
                }
            }
        } // tour

        &-merch {
            &.show {
                .cell {
                    @for $i from 1 to 5 {
                        &:nth-child(#{$i}) { 
                            opacity: 1;
                            transition-delay: $i * .3s; 
                        }
                    }
                }
            }
            .cell {
                opacity: 0;
                transition: $slider-transition;

                @include breakpoint(small down) {
                    margin-bottom: 40px;
                }
            }
            .merch-item {
                .article-header {
                    padding: 16px 0 10px;
                    h3 {
                        font-size: rem-calc(20);
                        letter-spacing: 0;
                        word-break: break-word;
                    }
                }

                .article-thumb {
                    &_overlay {
                        opacity: 0;
                    }

                    &:hover {
                        > div {
                            opacity: 1;
                        }
                    }
                }

                .price {
                    font-size: rem-calc(14);
                    letter-spacing: 4px;
                }
            }
        }

        &-subscribe {
            padding: 140px 0 215px;

            @include breakpoint(small down) {
                background-position: 70% top;
            }

            #mailing-list {
                max-width: 70%;
                margin: 0;
                @include breakpoint(small down) {
                    max-width: 100%;
                }
            }
        }
    }

    .article {
        &-header {
            .surprise {
                position: relative;

                h3 {
                    position: relative;
                    z-index: 1;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: wrap;
                    user-select: none;
                    grid-area: title;

                    @include cbp(mobile) {
                        justify-content: center;
                    }

                    span {
                        display: block;
                        position: relative;
                        flex: none;
                        white-space: pre;
                        opacity: 0;
                    }
                }
                svg {
                    width: 100%;
                    height: 300%;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 0;
                }
            }
        }
    }
}