.main-music {
    .featured {
        margin-bottom: 60px;
        .article {
            text-transform: uppercase;
            @include breakpoint(small down) {
                text-align: center;
            }
    
            &-header {
                @include breakpoint(small down) {
                    padding-top: 20px;
                }
                h3 {
                    font-size: rem-calc(42);
                    line-height: 1.2;
                }
            }
            .cta {
                margin-top: 20px;
            }
        }
    }
    .music-list {
        .article {
            margin-bottom: 20px;
        }
    }
}

.single-release {
    .main {
        .grid-container {
            padding-bottom: 120px;
            position: relative;
            &:before,
            &:after {
              content: '';
              position: absolute;
              bottom: 0;
              z-index: 0;
            }
    
            &:before {
              left: 0;
            }
            &:after {
              right: 0;
            }
        }
        .featured {
            .thumb {
                @include breakpoint(small only) {
                    margin-bottom: 10px;
                }
            }
            h3 {
                color: $olive;
                font-size: rem-calc(55);
            }
            .content {
                padding-top: 40px;
            }
        }

        .latest {
            h2 {
                margin-bottom: 30px;
                color: $olive;
                line-height: 1;
                text-align: center;
            }

            .grid-container {
                padding-top: 40px;
                
                &:before,
                &:after {
                  top: 0;
                }
            }
        }
    }
}

// component
.music-list {
    .article {
        @include breakpoint(small down) {
            text-align: center;
        }

        &-thumb {
            &_overlay {
                text-align: center;
                h3 {
                    margin-bottom: 20px;
                    padding: 0 20px;
                }
            }
        }
        &-header {
            padding-top: 16px;
            text-transform: uppercase;

            @include breakpoint(small down) {
                text-align: center;
            }

            h3 {
                margin-bottom: 0;
                line-height: 1.2;
                @include breakpoint(small down) {
                    font-family: $font-base;
                    font-size: rem-calc(42);
                }
            }
            .cta {
                @include cbp(ipadp_l) {
                    display: block !important;
                }

                @include breakpoint(small down) {
                    margin-top: 20px;
                }
            }
        }
    }
}