.main-news {

    .article {
        margin-bottom: 30px;
        text-transform: uppercase;
        &-header {
            padding-bottom: 16px;
            letter-spacing: 0.1em;

            h3 {
                margin-bottom: 0;
                font-size: rem-calc(24);
                line-height: 1;
            }
        }
        .date {
            margin-bottom: 5px;
        }
        .cat {
            padding: 16px 0;
            font-size: rem-calc(14);
            display: block;
        }
    }

    .featured {
        margin-bottom: 50px;
        .article {
            &-thumb {
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

                @include breakpoint(small down) {
                    margin-bottom: 15px;
                }
            }
            &-header {
                margin-bottom: 10px;
                h3 {
                    font-size: rem-calc(42);
                }
            }
            p {
                margin-bottom: 0;
                a {
                    color: $orange;
                    &:hover {
                        color: $tan;
                    }
                }
            }
        }
    }

    .news {
        &-list {
            .article {
                &-header {
                    h3 {
                        color: rgba($color: $white, $alpha: 0.8);
                    }
                }
                &-footer {
                    .button {
                        font-size: rem-calc(14);
                    }
                }
            }
        }
        &-item {
            margin-bottom: 60px;
        }
    }
}

.single {
    article.type-post {
        padding-top: 20px;
        padding-bottom: 50px;

        .article {
            &-header {
                letter-spacing: 0.1em;
                text-transform: uppercase;
                img {
                    max-width: 630px;
                }
                h3 {
                    color: rgba($color: $white, $alpha: 0.8);
                    font-size: rem-calc(40);
                    line-height: 1;
                    
                    @include breakpoint(small down) {
                        margin-top: 10px;
                        font-size: rem-calc(24);
                    }
                }

                .cat {
                    padding: 16px 0;
                    font-size: rem-calc(14);
                    display: block;
                }

                .date {
                    font-size: rem-calc(24);
                }
            }
            &-content {
                padding-top: 40px;
                @include breakpoint(small down) {
                    padding-top: 10px;
                }

                a {
                    font-weight: 700;
                    text-decoration: underline;
                }
            }
        }
    }   
}