.page-template-default {

    article.type-page {
        &.no-featured {
            .article {
                &-header {
                    &:before {
                        display: none;
                    }
                    img {
                        display: none;
                    }
                }
                &-title {
                    position: relative;
                }
            }
        }
        .article {
            &-header {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                &:before {
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(247, 239, 216, 0) 44.89%, rgba(14, 49, 55, 0.6) 100%);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    content: '';
                }
            }
            &-title {
                width: 100%;
                padding: 0 20px;
                font-size: rem-calc(75);
                text-align: center;
                text-transform: capitalize;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 3;
            }
            &-content {
                padding-top: 40px;

                a {
                    text-decoration: underline;

                    &:hover {
                    }
                }
            }
        }
    }   
}

// error 404
.error404 {
    .main-404 {
        padding: 60px 0;
    }
    .article {
        &.content-not-found {
            text-align: center;
            color: $olive;
        }
    }
}

// search
.search-results {
    .archive-title {
        color: $white;
    }
    .article {
        margin-bottom: 20px;
        padding: 20px;
        background: $black;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        &-header {
            h2 {
                font-size: rem-calc(32);
                line-height: 1;

                a {
                    &:hover {
                        color: $medium-gray;
                    }
                }
            }
        }
        &-content {
            p {
                margin-bottom: 0;

                a {
                    color: $white;
                    &:hover {
                        color: $medium-gray;
                    }
                }
            }
        }
    }
    .page-navigation {
        margin-top: 50px;
    }
}

// archive
.main-archive {
    .article {
        margin-bottom: 20px;
        padding: 20px;
        background: $white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        &-header {
            h2 {
                font-size: rem-calc(32);
                line-height: 1;

                a {
                    &:hover {
                        color: $orange;
                    }
                }
            }
        }
        &-content {
            p {
                margin-bottom: 0;

                a {
                    color: $orange;
                    &:hover {
                        color: $color__accent;
                    }
                }
            }
        }
    }
    .page-navigation {
        margin-top: 50px;
    }
}