.main-tour {
    .section {
        .bit {
            &-widget {
                color: $white;
                font-family: $font-base;
    
                .bit {
                    &-nav-bar {
                        > * {
                            visibility: hidden;
                        }
                        .bit-logo-container {
                            visibility: visible;
                        }
                    }
                    &-upcoming-events, 
                    &-past-events {
                        border-bottom: 0;
                    }
                    &-event {
                        padding: 15px 0;
                        color: $white;
                        border-top: none;
                        text-transform: uppercase;

                        &:hover {
                            padding: 15px 0;
                            background: none;
                        }

                        &-buttons {
                            margin-top: 0;

                            @include breakpoint(small down) {
                                padding-top: 10px;
                                flex-direction: row;
                                justify-content: flex-start;
                            }
                            > div {
                                padding: 0 10px;
                                border-right: 2px solid $white;

                                @include breakpoint(small down) {
                                    width: auto;
                                    margin-top: 0;
                                    flex-basis: auto;

                                    &:first-child {
                                        padding-left: 0;
                                    }
                                }

                                &:last-child {
                                    padding-right: 0;
                                    padding-left: 10px;
                                    border-right: 0;
                                    a {
                                        margin-left: 0;
                                    }
                                }
                            }
                            .bit-button {
                                width: auto;
                                padding: 0;
                                background: none;
                                color: $white;
                                font-size: rem-calc(12);
                                font-weight: 800;
                                line-height: 1;
                                text-transform: uppercase;
                                border: 0;

                                &:hover {
                                    color: $dark-gray;
                                }
                            }
                        }
                    }
                    &-titleWrapper {
                        margin: 0 auto;
                    }
                    &-date {
                        font-weight: 900;
                    }
                    &-venue {
                        font-weight: 900;
                        color: $white;
                        font-size: rem-calc(20);

                        &:hover {
                            color: $dark-gray;
                        }
                    }
                    &-location {
                        margin-right: auto;
                        font-size: rem-calc(14);
                        letter-spacing: 4px;
                        text-align: center;

                        @include breakpoint(small down) {
                            text-align: left;
                        }
                    }
                }
            }
        } // bit
    }
}