.main-videos {
    .article {
        &-header {
            text-transform: uppercase;
            h3 {
                font-size: rem-calc(28);
                line-height: 1.2;
            }
        }
        &-thumb {
            &_overlay {
               
            }
        }
    }
    .featured {
        margin-bottom: 60px;
        @include breakpoint(small down) {
            text-align: center;
        }
        .article {
            &-header {
                @include breakpoint(small down) {
                    padding-top: 10px;
                }
                h3 {
                    font-size: rem-calc(40);
                    line-height: 1.3;
                    @include breakpoint(small down) {
                        font-size: rem-calc(28);
                    }
                }
            }
        }
    }
    .video-list {
        .article {
            margin-bottom: 40px;

            &-thumb {
                .button {
                    margin: auto auto;
                    font-size: rem-calc(14);
                }

                &_overlay {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
            &-header {
                padding-top: 10px;
            }
        }
    }
}

.single-video {
    .main {
        .grid-container {
            padding-bottom: 120px;
            position: relative;
            &:before,
            &:after {
              content: '';
              position: absolute;
              bottom: 0;
              z-index: 0;
            }
    
            &:before {
              left: 0;
            }
            &:after {
              right: 0;
            }
        }
        .featured {
            .thumb {
                @include breakpoint(small only) {
                    margin-bottom: 10px;
                }
            }
            h3 {
                color: $olive;
                font-size: rem-calc(32);
                line-height: 1.2;
            }
            .content {
                padding-top: 40px;
            }
        }

        .latest {

            h2 {
                margin-bottom: 30px;
                color: $olive;
                line-height: 1;
                text-align: center;
                text-transform: lowercase;
            }

            .grid-container {
                padding-top: 40px;
                
                &:before,
                &:after {
                  top: 0;
                }
            }
        }
    }
}

.video-list {
    .article {
        @include breakpoint(small down) {
            text-align: center;
        }
        &-thumb {
            h3 {
                margin-bottom: 0;
                font-size: rem-calc(24);
                line-height: 1.2;
            }
            .button {

            }
            &_overlay {
                padding: 27px;
                flex-direction: column;
                background: rgba($color: $black, $alpha: 0.35);
            }
        }

        &-header {
            @include breakpoint(small down) {
                padding-top: 10px;
            }
        }
    }
}