// @font-face {
//     font-family: 'HighwayGothic';
//     src: url('../fonts/HighwayGothic.eot?#iefix') format('embedded-opentype'), 
//         url('../fonts/HighwayGothic.woff') format('woff'), 
//         url('../fonts/HighwayGothic.ttf') format('truetype'), 
//         url('../fonts/HighwayGothic.svg#HighwayGothic') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap');

@font-face {
  font-family: 'apple-music';
  src: url('//cache.umusic.com/_sites/_logos/applemusic/am.eot#iefix') format('embedded-opentype'),
       url('//cache.umusic.com/_sites/_logos/applemusic/am.woff') format('woff'),
       url('//cache.umusic.com/_sites/_logos/applemusic/am.ttf')  format('truetype'),
       url('//cache.umusic.com/_sites/_logos/applemusic/am.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
  
.icon-apple-music {
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    &:before {
        content: "\e920";
        font-family: 'apple-music' !important;
    }
}

$font-base: 'Montserrat', sans-serif;
$fab: "Font Awesome 5 Brands";
$fas: "Font Awesome 5 Free";