/************************************************
Stylesheet: Global Stylesheet
*************************************************/
body {
	font-family: $font-base;
}
.screen-reader-text {
	width: 0;
	height: 0;
	line-height: 0;
	display: block;
	overflow: hidden;
}

.grid-container {
	padding-right: 80px;
	padding-left: 80px;

	@include breakpoint(small down) {
		padding-left: 30px;
		padding-right: 30px;
	}
}
.button {
	margin-bottom: 0;
	padding: 1.5rem 3rem;
	background: none;
	color: $white;
	font-weight: 800;
	font-size: rem-calc(12);
	font-style: italic;
	border: 2px solid $white;
	border-radius: 50%;
	position: relative;

	> span {
		transition: all .1s ease-in;
	}
	.marquee {
		width: 100%;
		color: $white;
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		pointer-events: none;
		transform: rotate(-2.75deg);

		&__inner {
			width: fit-content;
			display: flex;
			position: relative;
			--offset: 1rem;
			--move-initial: calc(-25% + var(--offset));
			--move-final: calc(-50% + var(--offset));
			transform: translate3d(var(--move-initial), 0, 0);
			animation: marquee 1s linear infinite;
			animation-play-state: paused;
			opacity: 0;

			span {
				padding: 1.5rem 4px;
				white-space: nowrap;
			}
		}
	}

	&:focus,
	&:active,
	&:hover {
		background: none;
		> span {
			opacity: 0;
		}
		.marquee {
			&__inner {
				animation-play-state: running;
				opacity: 1;
				transition-duration: 0.6s;
			}
		}
	} // hover
}

blockquote {
	padding: 22px 0 0;
	color: $white;
	border-left: 0;
	letter-spacing: 8px;

	p,
	cite {
		color: $white;
	}

	em {
		font-style: normal;
	}
}

.pagination {
	margin-bottom: 0;
	display: flex;
	align-items: center;

	@include breakpoint(small down) {
		justify-content: center;
	}

	a,
	span {
		margin: 0 2px;
	}
	.page {
		margin-left: 0;
	}
	.current {
		background: $white;
		color: $black;
		border-radius: 20px;
	}
	a {
		color: $white;
		&:hover {
			background: $white;
			color: $black;
		}
	}
}

// menu {
.top-bar {
	width: 100%;
	padding: 11px;
	background: rgba($color: $black, $alpha: 0.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	justify-content: center;

	@include cbp(mobile) {
		padding-top: 34px;
		padding-bottom: 20px;
		border-bottom: 1px solid $white;
	}

	.logo {
		margin-bottom: 0;
		line-height: 1;
		a,img {
			display: block;
		}
	}
	.menu-bars {
		padding: 10px;
		color: $white;
		font-size: rem-calc(24);
		position: absolute;
		top: 25px;
		left: 11px;
	}

	// mobile landscape
	.show-for-medium,
	.hide-for-small-only {
		@include cbp(ipx_l) {
			display: none;
		}
	}
}

// header side
.header-side {
	height: 100%;
	position: fixed;
	top: 0;
	z-index: 50;
	display: flex;
	align-items: center;
}

.nav-side {
	left: 40px;

	.menu {
		writing-mode: vertical-rl;
		flex-direction: row-reverse;

		li {
			margin: 16px 0;
			transform: scale(-1);
			font-weight: 800;
			text-transform: uppercase;

			a {
				padding: 5px 0;
				position: relative;
				overflow: hidden;
				transition: all .3s ease-in-out;
				color: transparent;

				&:before,
				&:after {
					color: $white;
					content: attr(title);
					position: absolute;
					top: 5px;
					left: 0;
					transition: all .2s ease-out;
				}

				&:after {
					transform: translateX(100%);
				}
				&:hover {
					&:before {
						transform: translateX(-100%);
					}
					&:after {
						transform: translateX(0);
					}
				}
			}
			&.is-active,
			&.active {
				a {
					background: $white;
					&:before,
					&:after {
						color: $black;
					}
					&:before {
						transform: translateX(-100%);
					}
					&:after {
						transform: translateX(0);
					}
				}
			} // active
		} // li
	}
}
.social-side {
	right: 40px;

	.menu {
		flex-direction: column;

		li {
			padding: 20px 8px;

			a {
				&:hover {
					color: $dark-gray;
				}
			}
		}
	}
}

// off-canvas
.off-canvas {
	.menu {
		&-primary {
			padding-top: 50px;
			flex-direction: column;
			font-weight: 800;
			text-transform: uppercase;
			letter-spacing: 3px;

			.is-active,
			.active {
				a {
					background: $dark-gray;
				}
			}
		}
		&-socials {
			padding-top: 40px;
			justify-content: space-evenly;
		}
	}
}

// Social nav
#social-links {
	.menu {
		&-item {
			a {
				padding: 0;
				font-size: 0;
				line-height: 0;
				&:before {
					font-size: rem-calc(18);
					font-family: $fab;
					line-height: 1;
				}

				&[href*="apple.com"],
				&[title*="Apple Music"] {
				  &:before {
					content: '\f3b5';
				  }
				}
				&[href*="facebook.com"],
				&[title*="Facebook"] {
				  &:before {
					content: '\f39e';
				  }
				}
				&[href*="instagram.com"],
				&[title*="Instagram"] {
				  &:before {
					content: '\f16d';
				  }
				}
				&[href*="spotify.com"],
				&[title*="Spotify"] {
				  &:before {
					content: '\f1bc';
				  }
				}
				&[href*="twitter.com"],
				&[title*="Twitter"] {
				  &:before {
					content: '\f099';
				  }
				}
				&[href*="vine.com"],
				&[title*="Vine"] {
				  &:before {
					content: '\f1ca';
				  }
				}
				&[href*="youtube.com"],
				&[title*="YouTube"] {
				  &:before {
					content: '\f167';
				  }
				}
				&[href*="tumblr.com"],
				&[title*="Tumblr"] {
				  &:before {
					content: '\f173';
				  }
				}
				&[href*="#mailing-list"] {
				  &:before {
					font-family: $fas;
					content: '\f0e0';
				  }
				}
				&[title*="Merch"],
				&[title*="Shop"] {
				  &:before {
					font-weight: 900;
					font-family: $fas;
					content: '\f07a';
				  }
				}
			}
		}
	}
}

// detail menu active
.single-post .top-bar ul.menu-primary li a[href*="/news"],
.single-release .top-bar ul.menu-primary li a[href*="/music"],
.single-video .top-bar ul.menu-primary li a[href*="/videos"] {
	opacity: 1;

	&:before {
		height: 1px;
		background: $white;
		opacity: 1;
	}

	&:after {
		opacity: 0;
	}
	&:hover {
		&:before {
			height: 100%;
		}
	}
}
.single-post .off-canvas ul.menu-primary li a[href*="/news"],
.single-release .off-canvas ul.menu-primary li a[href*="/music"],
.single-video .off-canvas ul.menu-primary li a[href*="/videos"] {
	opacity: 1;

	&:before {
		height: 1px;
		background: $white;
		opacity: 1;
	}

	&:after {
		opacity: 0;
	}
	&:hover {
		&:before {
			height: 100%;
		}
	}
}


// detail
.backpage {
	margin-bottom: 40px;
	a {
		font-weight: rem-calc(14);
		letter-spacing: 0.1em;
		text-transform: uppercase;
	}
}

footer.footer {
	padding: 2px 0;
	background: $black;

	@include breakpoint(small down) {
		padding: 20px 0;
	}

	.inner-footer {
		align-items: center;
		a {
			&:hover {
				color: $dark-gray;
			}
		}
	}
	.cell {
		text-align: center;
		.menu {
			justify-content: center;

			&-socials {
				li {
					padding: 0 8px;

					&.js-subscribe {
						display: none;
					}
				}
			}
		}

		&-center {
			padding: 5px 0;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			text-transform: uppercase;

			@include breakpoint(small down) {
				flex-direction: column;
			}

			.copyright {
				margin-bottom: 0;

				span {
					padding-left: 10px;
					display: inline-block;
				}
			}

			.menu {
				@include breakpoint(small down) {
					flex-direction: column;
				}
			}
		}
		&-right {
			@include breakpoint(small down) {
				order: 1;
			}
		}

		&-center {
			font-weight: 800;
			font-size: rem-calc(12);
			.menu {
				padding-left: 10px;

				@include breakpoint(small down) {
					padding-left: 0;
				}
			}
		}
		.menu {
			@include breakpoint(small down) {
				&-socials {
					padding-bottom: 10px;
				}
			}
			a {
				@include cbp(ipx_l) {
					padding: 10px;
				}
			}
		}
	}
}

// slick
.slick-slider {
	> button {
		width: 68px;
		height: 57px;
		background: url($arrow) center center / cover no-repeat;
		border-radius: 0;
		top: auto;
		bottom: 0;
		z-index: 100;

		&:before {
			display: none;
			// font: 900 28px $fas;
		}

		&.slick-prev {
			left: auto;
			right: 67px;
			transform: scale(-1);

			@include cbp(mobile) {
				right: auto;
				left: 0;
			}
		}
		&.slick-next {
			right: 0;
			bottom: 20px;

			@include cbp(mobile) {
				bottom: -28px;
			}
		}

		&:focus,
		&:hover {
			background: url($arrow-h) center center / cover no-repeat;
		}
	}
}

// main
.main {
	padding-top: 164px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

// article
.article {
	&-thumb {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;

		&_overlay {
			width: 100%;
			height: 100%;
			background: rgba($color: $black, $alpha: 0.5);
			text-transform: uppercase;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 5;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			transition: $slider-transition;
		}

		&.secondary {
			> div {
				opacity: 0;
			}
			&:hover {
				> div {
					opacity: 1;
				}
			}
		}

		img {
			width: 100%;
		}
	}

	&-header {
		.subtitle {
			margin-bottom: 16px;
			font-size: rem-calc(14);
			letter-spacing: 8px;
            text-transform: uppercase;
		}
	}
} // article

.section {
	&-subscribe {
		padding: 120px 0 50px;

		.section-header {
			margin-bottom: 20px;
			padding-bottom: 0 !important;
			&:before {
				display: none;
			}
		}
	}
	&-header {
		margin-bottom: 60px;
		line-height: 1;
		&:before {
			width: 100%;
			height: 1px;
			background: $white;
			content: '';
			display: block;
		}
		h2 {
			margin-bottom: 0;
			padding: 2px 4px;
			background: $white;
			color: $black;
			font-weight: 700;
			font-size: rem-calc(14);
			text-transform: uppercase;
			display: inline-block;
			vertical-align: top;
		}
	}
	&-footer {
		h2 {
			font-size: rem-calc(28);
			line-height: 1;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}
	}
	&-footer {
		@include breakpoint(small down) {
			padding-top: 10px;
		}
	}
} // section

#mailing-list {
	width: 100%;
	max-width: 900px;
	margin: 0;
	padding-top: 30px;
	position: relative;

	.content {
		text-transform: uppercase;
		h3 {
			margin-bottom: 10px;
			color: rgba($color: $white, $alpha: 0.8);
			font-size: rem-calc(22);
			text-align: center;
			letter-spacing: 0.1em;

			@include breakpoint(small down) {
				font-size: rem-calc(18);
			}
		}
		.form-bg {
			padding: 0 20px;
		}
	}

	.ae-cform {
		&-container {
			max-width: 100%;
			margin-top: 30px;
			color: $white;
			hr {
				display: none;
			}
		}
		&-email-container {
			margin-bottom: 40px;
			display: block !important;
		}
		&-title {
			display: none;
		}
		&-item {
			width: 100%;
			max-width: 354px;
			display: block;

			@include breakpoint(small down) {
				width: 100%;
				padding: 0 0 20px;
			}

			label {
				color: $color__accent;
				display: none;
			}

			.ae-cform {
				&-input {
					background: none;
				}
				&-select {
					margin-bottom: 0;
				}
			}
			.ae-cform-input,
			select {
				height: auto;
				margin-bottom: 0;
				padding: 0 0 10px;
				color: $white;
				font-size: rem-calc(14);
				font-family: $font-base;
				border: none;
				border-bottom: 2px solid $white;
				border-radius: 0;
				box-shadow: none;
				-webkit-appearance: none;
				letter-spacing: 4px;
				text-transform: uppercase;
			}
			select {
				padding-right: 30px !important;
				background-color: transparent;
			}

			&-country {
				.select__arrow {
					border-top-color: $white;
					top: 12px;
				}
			}
			&.cform-required-field {
				width: 100%;
				margin-bottom: 0;
				padding: 0 0 40px;
				text-transform: capitalize;

				span {
					color: $white;
					font-weight: 900;
					font-size: rem-calc(12);
					font-family: $font-base;
				}
			}
			&.ae-cform-item-submit-button {
				width: auto;
				padding: 0;
				text-align: center;
				max-width: inherit;
				@extend .button;
				text-transform: uppercase;
				span {
					color: $white;
					font-size: rem-calc(12);
					font-weight: 800;
				}
				input {
					@extend .button;
					border: none;
					cursor: pointer;
					padding: 26px 76px;
					text-transform: uppercase;

					&:hover {
						opacity: 0;
					}
				}
			}
		} // item
		&-optin {
			label {
				font-weight: 800;
				font-size: 1rem;
				line-height: 1.2;
			}
			.ae-cform-optin-label {
				color: $white !important;
				font-size: rem-calc(18);
			}

			input[type="checkbox"] {
				width: 14px;
				height: 14px;
				margin: 0;
				background-color: transparent;
				border: 1px solid $white;
				-webkit-appearance: none;
				display: inline-block;
				vertical-align: baseline;
				cursor: pointer;
				position: relative;

				&:checked {
					&:before {
						width: 100%;
						height: 100%;
						background: url($icon-check) center center no-repeat;
						background-size: 8px 7px;
						content: '';
						display: block;
						position: absolute;
						top: 0;
						left: 0;
					}
				}
			}

			&-terms {
				margin-top: 30px;
				font-weight: 900;
				font-size: rem-calc(12);

				a {
					color: $white !important;
					&:hover {
						color: $medium-gray !important;
					}
				}
			}
		}
	}
}

// KEYFRAMES
@keyframes coverUp {
    0% {
        transform-origin: 50% 100%;
        transform: scale3d(1, 0.045, 1);
    }

    50% {
        transform-origin: 50% 100%;
        transform: scale3d(1, 1, 1);
    }

    51% {
        transform-origin: 50% 0%;
        transform: scale3d(1, 1, 1);
    }

    100% {
        transform-origin: 50% 0%;
        transform: scale3d(1, 0.045, 1);
    }
}

@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}

	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}