// font px to rem
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}
@function rem-calc($values, $base: null) {
  $rem-values: ();
  $count: length($values);

  @if $base == null {
    $base: 100%;
  }

  @if unit($base) == '%' {
    $base: ($base / 100%) * 16px;
  }

  @if $count == 1 {
    @return -zf-to-rem($values, $base);
  }

  @for $i from 1 through $count {
    $rem-values: append($rem-values, -zf-to-rem(nth($values, $i), $base));
  }
  @return $rem-values;
}

@function -zf-to-rem($value, $base: null) {
  @if type-of($value) != 'number' {
    @warn inspect($value) + ' was passed to rem-calc(), which is not a number.';
    @return $value;
  }

  @if unit($value) != 'rem' {
    $value: strip-unit($value) / strip-unit($base) * 1rem;
  }

  @if $value == 0rem {
    $value: 0;
  }
  @return $value;
}

@mixin fp($property, $min, $max, $start: 320, $end: 1400, $clip: true, $clipAtStart: true, $clipAtEnd: true) {
  $multiplier: ($max - $min) / ($end - $start) * 100;
  $adder: ($min * $end - $max * $start) / ($end - $start);
  $formula: calc(#{$multiplier + 0vw} + #{$adder + 0px});
  @if $clip and $clipAtStart {
    @media (max-width: #{$start + 0px}) {
      #{$property}: $min + 0px;
    }
  }
  @if $clip and $clipAtEnd {
    @media (min-width: #{$end + 0px}) {
      #{$property}: $max + 0px;
    }
  }
  #{$property}: $formula;
}

@mixin cbp($point) {
  @if $point == ipadp_l {
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) { @content; }
  }
  @else if $point == ipadp_p {
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) { @content; }
  }
  @else if $point == tablet {
      @media only screen and (min-width : 768px) and (max-width : 1024px) { @content; }
  }
  @else if $point == tablet_l {
      @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) { @content; }
  }
  @else if $point == tablet_p {
      @media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) { @content; }
  }
  @else if $point == ipx {
    @media only screen  and (min-device-width : 375px)  and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) { @content; }
  }
  @else if $point == ipx_l {
    @media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : landscape) { @content; }
  }
  @else if $point == ipx_p {
    @media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) and (orientation : portrait) { @content; }
  }
  @else if $point == mobile {
      @media only screen and (max-width: 767px) { @content; }
  }
  @else if $point == mobile_l {
      @media only screen and (min-width: 480px) and (max-width: 767px) { @content; }
  }
  @else if $point == mobile_p {
      @media only screen and (max-width: 479px) { @content; }
  }
}